<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="proyek.android.iqra">

    <dist:module dist:instant="true" />
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_iqra_putih"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_iqra_putih"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.EditPasswordActivity"></activity>
        <activity android:name=".activity.ProfileBeforeSignInActivity" />
        <activity android:name=".activity.tes_baca.TesBacaInformationActivity" />
        <activity android:name=".activity.tes_baca.TesBacaActivity_Ebta" />
        <activity android:name=".activity.tes_baca.TesBacaActivity" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_18" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_17" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_16" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_15" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_14" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_13" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_12" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_11" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_10" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_9" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_8" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_7" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_6" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_5" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_4" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_3" />
        <activity android:name=".activity.latihan.LatihanBacaActivity_2" />
        <activity android:name=".activity.latihan.LatihanBacaActivity" />
        <activity android:name=".activity.HistoryActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.EditEmailActivity" />
        <activity android:name=".activity.EditNameActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.SignInActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.Pengantar1Activity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>